
table{
    display: flex;
    justify-content: center;
}
table th{
    padding: 10px 50px 10px 50px;
}
table tr:nth-child(odd) {
    background-color: #999999;
}
 
table tr:nth-child(even) {
    background-color: #e9e1e1;
}
td{
    border: 1px solid #333;
}